
@font-face {
    font-family: 'Norse-Bold';
    src: url(/Norse-Bold.otf);
}

@font-face{
    font-family: 'Roboto-Bold';
    src: url(/Roboto-Bold.ttf);
}

@font-face{
    font-family: 'Roboto-Light';
    src: url(/Roboto-Light.ttf);
}

body{
    display:flex;
    flex-direction: row;

}
:root{
    font-size: 16px;
    font-family: 'Roboto-Bold';
    overflow: auto;
    
}
.plant{
    width:35vw;
    background-image: url("./plant.jpg");
    background-size: cover;
    position: relative;
    margin:0;
   
}

.black-bar{
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    height: 20vh;
    margin-top: 20vh;
    top: 200px;
    font-family: 'Norse-Bold';
    font-size: 15vh;
    color: white;
}

.odin-logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
   
}

img{
    height: 100%;

}


.main-container{
   flex-grow: 1;
   background-color: #F9FAFB;
  
}

.hero{
    font-family: 'Roboto-Bold';
    font-size: 1.5rem;
    padding-top: 20vh;
    padding-left: 5vw;
    background-color: #F9FAFB;
}


.firstname-lastname, .email-phone-container, .password-container{
    display: flex;
    font-family: 'Roboto-Light';
}

.first-name, .last-name, .email, .phone-number, .password, .confirm-password{
    display: flex;
    flex-direction: column;
}

.p1{
    margin-block-start: 0;
}

.p1, .p2{
    width: max(45vw, 400px)
}

.p2{
    padding-bottom: 10vh;
}

.form-container{
    padding-left:5vw
}

.form-container input:nth-child(2n):nth-child(2n){
    margin-right: 10vw;
}

label{
    text-transform:uppercase;
}

input{
    margin-bottom: 5vh;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px;
    font-family: 'Roboto-Bold';
    
}

input:focus{
    outline-color: #7A95E4;
    outline-style: solid;
    outline-width: 1px;
    box-shadow:  0px 0px 8px 1px #B7BFBD;

}

input:invalid {
    background-color: pink;
  }

 

  .form-container{
      box-shadow: 0px 5px 3px -3px #969390;
     margin-bottom: 5vh;
     background-color: white;
     padding-top: 5vh;
  }

  button{
      background-color:#596D48;
      color: white;
      border-radius: 5px;
      padding: 10px 40px;
      border: none;
      margin-bottom: 10px;

  }

  a{
      color: #596D48;
      text-decoration:none;
  }


  .submit-login-container{
      padding-left: 5vw;
      margin-bottom: 20vh;
      background-color: #F9FAFB;
  }